form #address {
    background: blue;
    display: block;
    padding: 20px 20px;
}

form #bedrooms {
    background: green;
    display: block;
    padding: 20px 20px;
}

form #bathrooms {
    background: red;
    display: block;
    padding: 20px 20px;
}